name: Build and Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: "Release version (e.g., 1.0.0) - leave empty to use the latest tag"
        required: false
        type: string
      project:
        description: "Which project to release - leave empty to chose the project with the latest tag"
        required: false
        type: choice
        options:
          - rekkord
          - goupile
          - tytools
          - meestic
          #- felix
          #- heimdall
jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5
        with:
          fetch-depth: 0
      - name: Determine newly tagged project and version
        id: version
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'

          LATEST_TAG=$(git tag --list --format="%(refname:short)" --sort taggerdate "${{ inputs.project }}*" 2>/dev/null | tail -1)
          PROJECT=$(echo "$LATEST_TAG" | awk -F/ '{print $(NF-1)}') # fallback to latest project
          LATEST_TAG=$(echo "$LATEST_TAG" | awk -F/ '{print $NF}')

          echo "project=$PROJECT" >>$GITHUB_OUTPUT
          echo "version=$LATEST_TAG" >>$GITHUB_OUTPUT
      - name: Build artifacts
        run: |
          PROJECT="${{ steps.version.outputs.project }}"
          VERSION_="${{ steps.version.outputs.version }}"

          tag="$PROJECT/$VERSION_"
          git checkout $tag

          sudo apt-get update
          sudo apt-get install build-essential libudev-dev qt6-base-dev qt6-base-dev-tools qt6-svg-dev

          bash src/$PROJECT/dist/source/source.sh
          bash src/$PROJECT/dist/linux/debian.sh
          bash src/$PROJECT/dist/linux/rpm.sh

          # TODO publising docker images to ghcr/dockerhub/quay
          # bash src/$PROJECT/dist/docker/docker.sh
      - name: Push tag and release
        run: |
          tag="${{ steps.version.outputs.project }}/${{ steps.version.outputs.version }}"

          gh release create $tag \
            --title "Release $tag" \
            --notes "Release $tag" \
            --latest \
            bin/Packages/*tar* bin/Packages/*.deb bin/Packages/*.rpm
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
